<!DOCTYPE html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet">
<style>    
    html{
        background-color: skyblue;
        font-family: 'Do Hyeon', sans-serif;
    }
    #inputbox{
        background-color:lightgreen;
        font-family: 'Do Hyeon', sans-serif;
        width:200px;
        height: ;
        margin: 50px;
        padding: 10px;
        width: 20%
    }
</style>
<body>
    <div id="main">
        <div id="inputbox">
        <h2>WORD COUNTING</h2>
        <p>항공대학교 소속 멋쟁이 사자처럼 7기 남중원이 만든 작품입니다.<br> 단순히 입력한 것에 대한 단어를 세줍니다</p>
        <br><p>어느정도의 글자 수 제한이 있을수 있습니다!</p>
        
        <br>
        <a href="{% url 'home' %}">Home으로 돌아가기</a>
        </div>
    </div>

</body>
